
<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="frontpolymer-app">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <iron-ajax id="obtenerProductos"
              url="http://services.odata.org/V4/Northwind/Northwind.svc/Products"
              handle-as="json"
              on-response="mostrarProductos"
              >

    </iron-ajax>

    <iron-ajax id="autenticar"
              url="http://localhost:3000/v1/usuarios/login"
              handle-as="json"
              method="POST"
              on-response="validarAutenticacion"
              headers='{"email":"fconnettb@bbb.org","password":"jPldWiev"}'
              >

    </iron-ajax>


    <input type="text" value={{prop1::input}} />
    <input type="text" value=[[prop1]] />
    <h2>Hello [[prop1]]!</h2>

    <div>
      <button on-click="invocarPeticion">Invocar</button>
    </div>
    <div>
      <button on-click="invocarAutenticacion">Autenticar</button>
    </div>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class FrontpolymerApp extends Polymer.Element {
      static get is() { return 'frontpolymer-app'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'frontpolymer-app'
          },
          productos: {
            type: Array
          },

        };
      }
      invocarPeticion(){

        this.$.obtenerProductos.generateRequest();

      }
      mostrarProductos(data){

          this.productos = data.detail.response.value;
          console.log(data.detail.response.value);

      }
      invocarAutenticacion(){
        this.$.autenticar.generateRequest();
      }
      validarAutenticacion(data){

            console.log(data.detail.response);

      }
    }

    window.customElements.define(FrontpolymerApp.is, FrontpolymerApp);
  </script>
</dom-module>
